---
interface Props {
  name?: string;
  src: string;
  alt?: string;
  only?: boolean;
}
const { name = "img", src, alt = "", only = false, ...rest } = Astro.props;
const url = `/assets/img/${src}`;
---

{
  only ? (
    <img class:list={name} src={url} alt={alt} {...rest} />
  ) : (
    <div class:list={name} {...rest}>
      <img src={url} alt={alt} />
      <slot />
    </div>
  )
}
