---
import { services, processes, recents } from "../index.store";
---

<App title="Главная">
  <!-- TheIntro -->
  <TheIntro btn>
    <H2>Интерьеры для ценящих <br />время и комфорт</H2>
  </TheIntro>
  <!-- TheInteriors -->
  <TheSection name="interiors" only>
    <Card>
      <H3>Частные интерьеры</H3>
      <Fragment slot="other">
        <Img name="ucard__bg" src="hero/interiors-1.png" />
      </Fragment>
    </Card>
    <Card>
      <H3>Общественные интерьеры</H3>
      <Fragment slot="other">
        <Img name="ucard__bg" src="hero/interiors-2.png" />
      </Fragment>
    </Card>
  </TheSection>
  <!-- TheAbout -->
  <TheAbout />
  <!-- TheServices -->
  <TheSection name="services">
    <H4 ui="text-gray uppercase">МОИ УСЛУГИ</H4>
    <Col>
      <H3>
        Для дизайна нет границ. <br /> Работаю с проектами из любой точки мира!
      </H3>
      <div
        class="services__list"
        data-accordion="services"
        data-multiple="true"
      >
        {
          services.map((service) => (
            <Accordion title={service.title}>
              <H5>{service.desc}</H5>
              <a class="sm:text-lg font-semibold underline" href={service.link}>
                Читать подробнее
              </a>
            </Accordion>
          ))
        }
      </div>
    </Col>
  </TheSection>
  <!-- TheProcess -->
  <TheSection name="process">
    <div class="process__header">
      <H3>ПРОЦЕСС РАБОТЫ</H3>
      <H4 ui="text-gray uppercase">этапы сотрудничества</H4>
    </div>
    <div class="process__content">
      <ul class="process__steps">
        {
          processes.map((process, index) => (
            <li class="text-h4" class:list={index === 0 ? "active" : ""}>
              {process.title}
            </li>
          ))
        }
      </ul>
      {
        processes.map((process, index) => (
          <div class="process__step" class:list={index === 0 ? "active" : ""}>
            <div class="process__step-text" set:html={process.content} />
            <Img src={process.img} only />
          </div>
        ))
      }
    </div>
    <div class="process__list" data-accordion="process" data-multiple="true">
      {
        processes.map((process) => (
          <Accordion title={process.title} icon="light">
            <div class="sm:text-xl" set:html={process.content} />
          </Accordion>
        ))
      }
    </div>
  </TheSection>
  <!-- TheWork -->
  <TheSection name="work">
    <Col>
      <H4 ui="text-gray uppercase">РАБОТА СО МНОЙ</H4>
      <P>
        От вас необходимы только желание совместной работы и доверие, тогда
        результат не заставит себя ждать!
      </P>
    </Col>
    <Col>
      <H3>Что Вы получаете, работая со мной:</H3>
      <ul class="text-h4">
        <li>
          Время для семьи, пока специалисты воплощают пространство вашей мечты;
        </li>
        <li>Уникальный и эргономичный интерьер;</li>
        <li>Экономия вашего времени, сил и денег.</li>
      </ul>
      <Button type="link" to="/" variant="secondary">НАПИСАТЬ МНЕ</Button>
    </Col>
  </TheSection>
  <!-- TheRecent -->
  <TheSection name="recent">
    <H4 ui="text-gray uppercase">мои недавние проекты</H4>
    <Row>
      <P>
        Я проектирую жилые и общественные помещений. В работе над проектом,
        помимо красоты и трендов в дизайне, ориентируюсь на функциональность
        и практичность интерьера.
      </P>
      <Button type="link" to="/projects" variant="secondary">
        посмотреть все портфолио
      </Button>
    </Row>
    <div class="recent__projects">
      {
        recents.map((item) => (
          <div class="recent__projects-item">
            <Img src={item.img} only />
            <H4>{item.title}</H4>
            <Button type="link" to={item.link} variant="secondary">
              посмотреть проект
            </Button>
          </div>
        ))
      }
    </div>
  </TheSection>
</App>
