---
import { projects } from "../index.store";
---

<App title="Проекты">
  <!-- TheProjects -->
  <TheSection name="portfolio">
    {
      projects.map((project) => (
        <a href={project.link} class="portfolio__project">
          <Img src={project.img} only />
          <div class="portfolio__project-info">
            <div class="sm:text-xl">{project.city}</div>
            <Col>
              <H2>{project.title}</H2>
              <P>{project.size}</P>
            </Col>
          </div>
        </a>
      ))
    }
  </TheSection>
</App>
