---
import { service } from "../index.store";
---

<App title="Зачем нужна смета">
  <!-- TheHero -->
  <TheHero title="зачем нужна <br> смета">
    <Img src="services/3.png" only />
  </TheHero>
  <!-- ThePrices -->
  <TheSection name="prices">
    <P>
      Смета - исчерпывающий перечень всех предметов, использованных в дизайн-проекте, включая отделку, мебель, электрику и пр. Она позволяет рассчитать бюджет и запланировать расходы на реализацию будущего проекта.
<br><br>
      Все позиции сметы подбираются в соответствии с проектом и в рамках оговоренного бюджета. Кроме цены на выбор влияет качество, соответствие проекту, наличие товара, стоимость и сроки доставки. Каждая позиция обсуждается и утверждается заказчиком.
    </P>
  </TheSection>
  <!-- TheServiceIncluded -->
  <TheSection name="included">
    <H2 ui="font-futura font-light">Смета содержит расчет для следующих позиций</H2>
    <ul class="included__list">
      {
        service.nadzor.list.map((service) => (
          <li>
            <Img src={service.icon} />
            <Col>
              <H4>{service.title}</H4>
              <p class="text-sm sm:text-base">{service.desc}</p>
            </Col>
          </li>
        ))
      }
    </ul>
  </TheSection>
  <!-- TheService Advantages -->
  <TheAdvantages
    title="Преимущества авторского надзора"
    list={service.nadzor.advantages}
  />
  <!-- TheWhy -->
  <TheSection name="why">
    <H2 ui="font-futura font-light">Зачем Вам авторский надзор?</H2>
    <P>
      Хороший дизайн-проект сам по себе не гарантирует качественный результат,
      даже если содержит исчерпывающую информацию обо всех дизайнерских
      решениях. Во время строительных работ всегда возникают непредвиденные
      проблемы, небольшие неточности и изменения. Без должного внимания это
      может привести к разочаровывающим результатам. 
      <br /><br />
      Автор всегда знает проект лучше, чем самый внимательный прораб, может заметить
      даже кажущиеся незначительными ошибки и может внести необходимые изменения,
      сохранив общий замысел. Главная цель авторского надзора -  убедиться, что результат
      соответствует всем ожиданиям заказчика.
    </P>
  </TheSection>
  <!-- TheService DisAdvantages -->
  <TheDisAdvantages
    title="В авторский надзор не входит"
    list={service.nadzor.disadvantages}
  />
</App>
