---
import { service } from "../index.store";
---

<App title="Что такое авторский надзор">
  <!-- TheHero -->
  <TheHero title="ЧТО ТАКОЕ <br> АВТОРСКИЙ НАДЗОР">
    <Img src="services/2.png" only />
  </TheHero>
  <!-- ThePrices -->
  <TheSection name="prices">
    <div class="prices__price">
      <H2 ui="font-futura font-light">Стоимость</H2>
      <Card>
        <ul class="text-h4">
          <li>35 000 Руб./мес. (в Санкт-Петербурге);</li>
          <li>45 000 Руб./мес. (за пределами КАДа).</li>
        </ul>
      </Card>
    </div>
    <P>
      По опыту мы знаем, что большинство наших заказчиков не всегда понимают,
      что такое авторский надзор и какую работу он в себя включает. Не у всех
      есть опыт работы с дизайнерами. А даже если есть, состав и
      последовательность работ по авторскому надзору может существенно
      отличаться у разных студий. Поэтому мы решили подробно описать все работы,
      которые мы включаем в авторский надзор.
      <br /><br />
      Надеемся, что эта информация поможет вам лучше понять что такое авторский надзор
      и принять взвешенное решение о необходимости этой услуги для вашего проекта.
      <br /><br />
      Авторский надзор - это комплекс работ, направленных на точную реализацию дизайн-проекта.
      Каждый проект индивидуален, поэтому строительные работы могут иметь свою последовательность,
      свои сложности и свои особенности в реализации. Но, как правило, надзор включает
      в себя следующие виды работ.
    </P>
  </TheSection>
  <!-- TheServiceIncluded -->
  <TheSection name="included">
    <H2 ui="font-futura font-light">Что входит в авторский надзор</H2>
    <ul class="included__list">
      {
        service.nadzor.list.map((service) => (
          <li>
            <Img src={service.icon} />
            <Col>
              <H4>{service.title}</H4>
              <p class="text-sm sm:text-base">{service.desc}</p>
            </Col>
          </li>
        ))
      }
    </ul>
  </TheSection>
  <!-- TheService Advantages -->
  <TheAdvantages
    title="Преимущества авторского надзора"
    list={service.nadzor.advantages}
  />
  <!-- TheWhy -->
  <TheSection name="why">
    <H2 ui="font-futura font-light">Зачем Вам авторский надзор?</H2>
    <P>
      Хороший дизайн-проект сам по себе не гарантирует качественный результат,
      даже если содержит исчерпывающую информацию обо всех дизайнерских
      решениях. Во время строительных работ всегда возникают непредвиденные
      проблемы, небольшие неточности и изменения. Без должного внимания это
      может привести к разочаровывающим результатам. 
      <br /><br />
      Автор всегда знает проект лучше, чем самый внимательный прораб, может заметить
      даже кажущиеся незначительными ошибки и может внести необходимые изменения,
      сохранив общий замысел. Главная цель авторского надзора -  убедиться, что результат
      соответствует всем ожиданиям заказчика.
    </P>
  </TheSection>
  <!-- TheService DisAdvantages -->
  <TheDisAdvantages
    title="В авторский надзор не входит"
    list={service.nadzor.disadvantages}
  />
</App>
